<h1>کار ها</h1>
<% if (locals.homeworks && homeworks != []) { %>
    <% for(const [dateString , homeworksInDay] of Object.entries(homeworks)) { %>
        <div class="splitter"><%= dateString  %></div>
        <div class="homeworks">
            <% homeworksInDay.forEach((homework, i) => { %>
                <div class="homework">
                    <div class="number"><span><%= i + 1 %></span></div>
                    <%= homework %>
                </div>
            <% });  %>
        </div>
    <% } %>
<% } %>  
