<h1>کار نو</h1>
<form action="/homeworks" method="POST">
    <label for="date">هنگامه</label>
    <input type="date" name="date">
    <label for="description">بازنمود</label>
    <input type="text" name="description">
</form>