<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.docName || "Document" %></title>
    <link rel="stylesheet" href="/css/layout.css">
    <% if (locals.cssFiles) { %>
        <% cssFiles.forEach(cssFile=> { %>
            <link rel="stylesheet" href="<%= cssFile %>">
        <% }); %>
    <% } %>
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <%- body %>
</body>
</html>